{% extends 'rango/base.html' %}

<!--say to the template system we are going to use static media-->
{% load static %} <!-- New Line -->

{% block title %}About{% endblock %}

{% block body_block %}
<div class="hero-unit">
    <h1>About Rango</h1>
    Here is the about page!! <strong>{{ boldmessage2 }}</strong>
    You have visited the page: {{ visits }} times

    <!--this will combine the static_URL from settings.py with rango.jpg so /static/rango.jpg -->
    <img src="{% static 'simple.jpg' %}" alt="Picture of Simple.jpg" /> <!-- New line -->
</div>
   {% endblock %}
